#holder {
    width: 100vw;
    height: 92vh;
}

.time-container {
    height: 8vh;
    color: white;
    background: darkred;
    align-items: center;
    width: 100%;
    font-size: 42px;
    display:flex
}

.currentTime {
    text-align: left;
    width: 50vw;
    float: left;
    padding-left: 200px;
}

.currentDate {
    text-align: right;
    width: 50vw;
    float: right;
    padding-right: 200px;
}

html, body {
  height: 100%;
  margin: 0;
}