.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
}


.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 40px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  list-style: none;
  margin: 5px;
  display: flex;
  align-items: center;
}
.Rtable-cell-header {
    font-size: 32px;
}
.Rtable > div {
  background: #B0CEFF;
}
.Rtable > :nth-child(odd) {
  background: #C7D9FF;
}


.Rtable--2cols .Rtable-cell  { width: 50%; }
.Rtable--3cols .Rtable-cell  { width: 39%; }
.Rtable--3cols .Rtable-cell-time  { width: 20%; margin-left:2%}

.Rtable--4cols .Rtable-cell  { width: 32%; }
.Rtable--4cols .Rtable-cell-time  { width: 20%; margin-left:2%}
.Rtable--4cols .Rtable-cell-line  { width: 14%}

.Rtable--5cols .Rtable-cell  { width: 20%; }
.Rtable--6cols .Rtable-cell  { width: 16.6%; }