.Plastic {
    background: #ee7203;
}

.Green {
    background: #00652a;
}

.Paper {
    background: #0062a7;
}

.Grey {
    background: #666;
}

.container-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    color: white;
    font-size: 42px;
}

.garbage_type {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    font-weight: bold;
    margin-left: 5%;
}

.date {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
}

.tomorrow {
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
}

