{% load static %}
{% load tz %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'public_transport/css/style.css' %}">
</head>
<body>
<div class="Rtable Rtable--4cols">
    <div style="width: 100%; display:flex;">
        <div class="Rtable-cell Rtable-cell-time Rtable-cell-header"><b>Arrival time</b></div>
        <div class="Rtable-cell Rtable-cell-line Rtable-cell-header"><b>Line</b></div>
        <div class="Rtable-cell Rtable-cell-header"><b>Direction</b></div>
        <div class="Rtable-cell Rtable-cell-header"><b>Stop</b></div>
    </div>
{% timezone "Europe/Amsterdam" %}
    {% for bus in busses %}
            <div style="width: 100%; display:flex; flex:1">
            <div class="Rtable-cell Rtable-cell-time">{{ bus.arrival_time|localtime|date:"H:i" }}</div>
            <div class="Rtable-cell Rtable-cell-line">{{ bus.line }}</div>
            <div class="Rtable-cell">{{ bus.destination }}</div>
            <div class="Rtable-cell">Hanenberglanden</div>
            </div>
    {% endfor %}
{% endtimezone %}
</div>
</body>
</html>
