{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'slideshow/css/style.css' %}">
</head>
<body>
<div id="holder"></div>
<div class="time-container">
    <div class="currentTime"></div>
    <div class="currentDate"></div>
</div>
<script>
    $(document).ready(function() {
        let pages = {{ pages|safe }};
        let index = 0;
        $("#holder").load(pages[index]);

        setInterval(function() {
            index = (index+1)%pages.length;
            $("#holder").load(pages[index]);
        }, {{ page_time }} * 1000);

        setInterval(function() {
            var date = new Date();
            $('.currentTime').text(date.toLocaleTimeString());
            $('.currentDate').text(date.toDateString());
        }, 500);
    });
</script>
</body>
</html>