{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'garbage/css/style.css' %}">
</head>
<body>

{% for pickup in latest_pickups %}
    <div class="container-row {{ pickup.gtype }}">
        <div class="garbage_type">{{ pickup.gtype }}</div>
        <div class="date">{{ pickup.pickup_date }}</div>
        <div class="tomorrow">{{pickup.today }}</div>
    </div>
{% endfor %}